<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>
        <style>
            table{
                border: 1px solid #000000;
                border-collapse: collapse;
                width: 100%;
            }
            td{
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <table style="background-color: #55989b;">
            <tr>
                <td>
                    <h1>{surname}, {name}</h1>
                    <h2>{age} years old</h2>
                    <h2>{profession}</h2>
                </td>
            </tr>
        </table>
    </body>
</html>