{% extends 'ex01/base.html' %} {% block title %}
<title>Ex01: Django, framework web.</title>
{% endblock title %} {% block content %}
<div role="main" class="content">
  <h1>
    Sobre a Django Software Foundation</h1>
  <p>
    Django (/ˈdʒæŋɡoʊ/ JANG-goh; às vezes estilizado como django) é um framework web gratuito e de código aberto baseado em Python que segue o padrão arquitetônico model–template–views (MTV).<br>
    Ele é mantido pela Django Software Foundation (DSF), uma organização independente estabelecida nos EUA como 501(c)(3) sem fins lucrativos.<br>
    O principal objetivo do Django é facilitar a criação de sites complexos e baseados em banco de dados. A estrutura enfatiza a reutilização e "plugabilidade" dos componentes, menos código, baixo acoplamento, desenvolvimento rápido e o princípio de não se repetir. Python é usado por toda parte, até mesmo para configurações, arquivos e modelos de dados. O Django também fornece uma interface administrativa opcional de criação, leitura, atualização e exclusão que é gerada dinamicamente por meio de introspecção e configurada por meio de modelos administrativos.<br>
    Alguns sites conhecidos que usam Django incluem Instagram, Mozilla, Disqus, Bitbucket, Nextdoor e Clubhouse.
  </p>

  <h2>História</h2>
  <p>
    Django foi criado no outono de 2003, quando os programadores web do jornal Lawrence Journal-World, Adrian Holovaty e Simon Willison, começaram a usar Python para construir aplicações. Jacob Kaplan-Moss foi contratado no início do desenvolvimento de Django pouco antes do término do estágio de Simon Willison. Foi lançado publicamente sob uma licença BSD em julho de 2005. A estrutura recebeu o nome do guitarrista Django Reinhardt. Adrian Holovaty é um guitarrista de jazz romani e um grande fã de Django Reinhardt.<br>
    Em junho de 2008, foi anunciado que uma recém-formada Django Software Foundation (DSF) manteria o Django no futuro.
  </p>
</div>
{% endblock %}